// Variables

$first-color: teal;
$second-color: white;
$third-color: black;

*{
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: $first-color;
    h1 {
        color: $second-color;
    }
    p {
        color: $second-color;
        font: {
            family: helvetica;
            weight: bolder;
            size: 1em;
        }
        &:hover {
            color: $third-color;
        }
    }
}
