main {
  display: flex;
}
.container {
padding: 0.5%;
  display: flex;
  flex-direction: column;
  height: 68vh;
  width: 21vw;
  background-color: teal;
  color: white;
}
.history-container {
  padding: 0.5%;
  display: flex;
  flex-direction: column;
  height: 68vh;
  width: 15vw;
  background-color: rgb(34, 34, 34);
  color: white;
}
.top-history {
  display: flex;
  justify-content: end;
  align-items: center;
}
.history-content {
  overflow-x: hidden;
}
.history-ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  height: 20vh;
}
.display-container {
  display: flex;
  flex-direction: column;
  height: 30%;
}
.display-memory {
  display: flex;
  height: 30%;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2%;
  color: rgb(231, 231, 231);
  font-style: italic;
}
.display {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
  font-size: 3em;
}
.bt-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nb-container {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(4, 78px);
  width: 70%;
  gap: 5px;
}
.op-container {
  display: grid;
  width: 20%;
  grid-template-rows: repeat(4, 78px);
  grid-template-columns: repeat(1, 70px);
  gap: 5px;
}
.button {
  background-color: rgba(0, 214, 214, 0.24);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
}
.special {
    background-color: rgba(22, 22, 22, 0.815);
}
.button:hover {
  background-color: rgba(0, 255, 255, 0.24);
}
